@{


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP09</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="~/TP09.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
</head>
<body>
 <!-- NavUp -->
 <div class="sas" >
        <nav>
            <ul class="nav__links" style="justify-content: center;">
                <li><img src="~/img/madebynova.png" style="width: 100px;"></li>
                <li>
                  <div class="search">
                  <form action='@Url.Action("busqueda", "Home")' role="search" method="get">
                    <input type="text" name ="txt" placeholder="Search" id="txt">
                    <input type="submit" value="Search" id="searchbtn">
                  </form>
                </div>
                </li>
                
              
                 
                  
                  <div class="contenedor-sign-up">
                    <li> <a data-bs-toggle="modal" data-bs-target="#modalCliente" id="btnS" > Iniciar Sesion</a>
                   </li> 

                    <li> <a data-bs-toggle="modal" data-bs-target="#modalClienteR" id="btnS" > Registrarse</a>
                    </li>
                  </div>
                
                   
                  
                
            </ul>
        </nav>

        
 </div>
 <br><br>
    
<!-- NavDown -->


  
<section class="modal" id="#modalCliente">
        <div class="modal__container">
       
            <h2 class="modal__title">Inicia sesion</h2>
             <p class="modal__paragraph">
              <div class="center">
                <form action='@Url.Action("BuscarCliente", "Home")'>
                    <div class="login"> 
                      
                    <input type="text" name="nombre"  placeholder="Username" id="txts"required>
                      </div>
                      
                       <div class="login"> 
                    
                    <input type="text" name="contraseña" placeholder="Password" id="txts" required >
                      </div>
                      
                          <div class="btn">
                          <div class="inner"></div>
                            <button type="submit" >Iniciar Sesion
                        </div> 
                        <div class="btn">
                          <div class="inner"></div>
                        <button href="#" class="modal__close" >Cerrar</button>
                      </div>
                      </form>
                 </div>
                 </div>
                   </p>
           
        </div>
    </section>

    <section class="modal" id="#modalClienteR">
        <div class="modal__container">
       
            <h2 class="modal__title">Registrarse</h2>
             <p class="modal__paragraph">
              <div class="center">
                <form action='@Url.Action("GuardarCliente", "Home")'>
                    <div class="login"> 
                    <label >Username</label>
                    <input type="text" name="nombre" required>
                      </div>
                       <div class="login"> 
                    <label >Password</label>
                    <input type="text" name="contraseña" required>
                      </div>
              
                          <div class="btn">
                          <div class="inner"></div>
                            <button type="submit" >Registrarse
                        </div> 
              <div class="btn">
                          <div class="inner"></div>
               <button href="#" class="modal__close" >Cerrar</button>
               </div>
                </form>
                </div>
             </p>
           
        </div>
    </section>
     
 



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Made by Nova
          </h6>
          <p>
            Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Yatay 224</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            dantolin45@gmail.com
            
          </p>
          
          <p><i class="fas fa-phone me-3"></i>+54 9 11 51180090</p>
          <p><i class="fas fa-phone me-3"></i>+54 9 11 67932558</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4"  style="background:#e85909 ; color:white;" >
    © 2022 Nova:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MadeByNova</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
