@{
 ViewData["Title"] = "Busqueda Articulo";
}
<div class="row row-cols-1 row-cols-md-4 g-4">
@foreach (var item in ViewBag.Articulo)
  {
    <div class="card" style="width: 500px; margin-left: 5%; margin-top: 10px; padding: 10px;">
      <a href='@Url.Action("ArticuloTocar","Home",new {idarticulo = item.IdArticulo})'  >
      <img src='@item.ImagenArticulo' class="card-img-top" style="width: 100%; background: white;"
        alt="imagen articulo"/>  </a> <!-- preguntar como hacer para q se reedireccione a la pagina articulo -->

      <div class="card-body">
      
        <h5 class="card-title">@item.Nombre</h5>
        <br>
        <h5>$ @item.Precio ARS</h5> 
        
        <a href='@Url.Action("Compra", "Home", new{idarticulo = @item.IdArticulo})' class="btn" >Comprar</a>
        
      </div>
    </div>
  } </div>