@{
  ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap">

<!-- Carousel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img
        src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dwf604de90/cybermonday22/full1cyber1.jpg?sw=1440&sfrm=png"
        style="max-width:2500px;  min-height:400px;" class="d-block w-100">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
     <img
        src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dw312f13c2/cybermonday22/full3adidascyber.jpg?sw=1440&sfrm=jpg"
        style="max-width:2500px;  min-height:400px;" class="d-block w-100">
    </div>
    <div class="carousel-item"data-bs-interval="3000" >
       <img
        src="https://www.dexter.com.ar/dw/image/v2/BDTF_PRD/on/demandware.static/-/Sites-Dexter-Library/default/dwc010605f/cybermonday22/full2cyberV2lotto.jpg?sw=1440&sfrm=png"
        style="max-width:2500px;  min-height:400px;" class="d-block w-100">
    </div>
  </div>
 
</div>




<div class="row row-cols-1 row-cols-md-4 g-4">

  @foreach (var item in ViewBag.Articulo)
  {
    <div class="card" style="width: 500px; margin-left: 100px; margin-top: 20px; padding: 0px;">
      <a href='@Url.Action("ArticuloTocar","Home",new {idarticulo = item.IdArticulo})'  >
      <img src='@item.ImagenArticulo' class="card-img-top" style="width: 100%; background: white;"
        alt="imagen articulo"/>  </a> <!-- preguntar como hacer para q se reedireccione a la pagina articulo -->

      <div class="card-body">
      
        <h5 class="card-title">@item.Nombre</h5>
        <br>
        <h5>$ @item.Precio ARS</h5> 
        
        <a href='@Url.Action("Compra", "Home", new{idarticulo = @item.IdArticulo})' class="btn" >Comprar</a>
        
      </div>
    </div>
  }
</div>


<!-- Modal -->


<!-- form  cambiar-->

